<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/furtive/2.3.0/furtive.min.css">
</head>

<body>
    <div class="measure p2">
        <h2><a href="/" class="btn--link">Tony's Burgers</a></h2>
        <div class="h5">
            Add a burger...
        </div>
        <div class="grd">
            <form action="/admin/add" method="POST" role="form" class="my1">
                <label for="burgername">Burger Name</label>
                <input type="text" name="burgername">
                <label for="descript">Description</label>
                <textarea name="descript" rows="2"></textarea>
                <label for="ingreds">Ingredients</label>
                <textarea name="ingreds" rows="2"></textarea>
                <label for="burgerprice">Price</label>
                <input type="number" step=".01" name="burgerprice">
                <select name="burgertype">
                    <option value="100">Beef</option>
                    <option value="101">Chicken</option>
                    <option value="102">Veggie</option>
                </select>
                <input type="submit" value="Add burger" class="btn--blue">
            </form>
        </div>
    </div>
</body>

</html>