<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/furtive/2.3.0/furtive.min.css">
</head>

<body>
    <div class="measure p2">
        <h2><a href="/" class="btn--link">Tony's Burgers</a></h2>
        <p class="h5">
            Burger Menu
            <a href="/filter?sort=b_name">burger name</a> |
            <a href="/filter?sort=price">price (low-high)</a>
        </p>
        <hr>
        <div class="grd">
            <% burgerlist.forEach((burger)=> { %>
                <div class="grd-row brdr--light-gray p1 my1">
                    <div class="grd-row-col-1-6">
                        <%= burger.p_type %>
                    </div>
                    <div class="grd-row-col-4-6">
                        <%= burger.b_name %>
                    </div>
                    <div class="grd-row-col-1-6">
                        £<%= burger.price %>
                    </div>
                </div>
                <% }); %>
        </div>

    </div>
</body>

</html>